.app-header {
    background-color: #3333b7;
    padding: 5px;
    color: #fff;
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.view-container {
    margin-top: 45px;
}